:root {
  --clr-primary: #1A539E;
  --clr-primary-hover: #0d3d7d;
  --clr-gray: #BCBCBC;
  --clr-gray-hover: #8f8f8f;
  --clr-red: #BD0000;
  --clr-orange: #D87E00;
  --clr-green: #04B052;
  --clr-blue: #189CD9;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  font-family: Arial;
  color: inherit;
}
body {
  overflow-x: hidden;
  font-size: 18px;
  background-color: #F4F4F4;
  padding-top: 71px;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.75rem;
}
@media (max-width: 1023px) {
  body {
    padding-top: 58px;
  }
}
/* CUSTOM CLASSES */
.container-custom {
  width: 100%;
  max-width: 1864px;
  margin: 0 auto;
  padding: 0 32px;
}
.container-custom-sm {
  width: 100%;
  max-width: 1624px;
  margin: 0 auto;
  padding: 0 64px;
}
.img-full {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 500ms ease-in-out;
}
.anchor {
  cursor: pointer;
}
@media (max-width: 1023px) {
  .container-custom {
    padding: 0 16px;
  }
  .container-custom-sm {
    padding: 0 32px;
  }
}
/* SELO */
.selo-lancamentos {
  background-color: #BD0000;
}
.selo-construcao {
  background-color: #D87E00;
}
.selo-pronto {
  background-color: #04B052;
}
/* LOADER */
body:not(.loaded) {
  overflow: hidden;
  padding-top: 0;
}
#site-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
body.loaded #site-loader {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
#site-loader .loader__wrapper {
  position: relative;
  width: 200px;
}
#site-loader .loader__wrapper img {
  position: absolute;
  width: 100%;
}
#sombra1 {
  animation: sombra infinite 1.5s;
  transform-origin: center;
}
#sombra2 {
  animation: sombra infinite 1.5s .5s;
  transform-origin: center;
}
@keyframes sombra {
  from {
    transform: scale(1);
    opacity: .8;
  }
  to {
    transform: scale(1.7);
    opacity: 0;
  }
}
/* BREADCRUMB */
#breadcrumb {
  padding: 16px 0;
  font-weight: 400;
  font-size: 16px;
  background: var(--clr-primary);
  color: #fff;
}
#breadcrumb a {
  color: #fff;
  text-decoration: none;
}
#breadcrumb .breadcrumb {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 0;
  list-style: none;
}
#breadcrumb .breadcrumb-item:not(:first-of-type) {
  position: relative;
  margin-left: 16px;
}
#breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  position: absolute;
  left: -24px;
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'><path d='M6.18753 15.1872C6.04368 15.1872 5.89968 15.1323 5.78985 15.0224C5.57005 14.8026 5.57005 14.4467 5.78985 14.2271L11.0172 8.99974L5.78985 3.77243C5.57005 3.55263 5.57005 3.19671 5.78985 2.97705C6.00964 2.75739 6.36557 2.75725 6.58522 2.97705L12.2102 8.60205C12.43 8.82185 12.43 9.17777 12.2102 9.39743L6.58522 15.0224C6.47539 15.1323 6.33139 15.1872 6.18753 15.1872Z' fill='white'/></svg>");
}
/* NAVBAR */
.navbar__header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #cecece;
  background: #f2f2f2;
  transition: all .3s ease-in-out;
}
.navbar__header a {
  text-decoration: none;
  color: #000;
  transition: all .3s ease-in-out;
}
.navbar__header a:hover {
  color: var(--clr-primary);
  text-decoration: underline;
}
.navbar__header .container-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 48px;
}
.navbar__header .container-custom .left {
  display: flex;
  align-items: center;
  gap: 48px;
}
.navbar__header .container-custom .right,
.navbar__header .container-custom .right .btn__wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.navbar__header .container-custom .right .btn__wrapper .btn-custom {
  padding: 12px 32px;
  border-radius: 48px;
  color: #fff;
  transition: all .3s ease-in-out;
}
.navbar__header .container-custom .right .btn__wrapper .btn-custom:nth-of-type(1) {
  background: #BCBCBC;
}
.navbar__header .container-custom .right .btn__wrapper .btn-custom:nth-of-type(2) {
  background: var(--clr-primary);
}
.navbar__header .container-custom .right .btn__wrapper .btn-custom:hover {
  text-decoration: none;
  background: #000;
}
.navbar__header .logo {
  display: flex;
  text-decoration: none;
}
.navbar__header .logo img {
  max-width: 100%;
}
.navbar__header .header-menu {
  display: flex;
}
.navbar__header .menu-item-has-children {
  list-style: none;
  display: flex;
  padding: 32px 20px 32px 0;
}
.navbar__header .menu-item-has-children > div:first-of-type {
  display: flex;
  align-items: center;
  line-height: 0;
}
.navbar__header .menu-item-has-children > div:first-of-type::after {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='7' viewBox='0 0 10 7' fill='none'><path d='M1 1.5L5 5.5L9 1.5' stroke='black' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  margin-left: 12px;
  transition: all .3s ease-in-out;
} 
.navbar__header .menu-item-has-children:hover > div:first-of-type::after {
  transform: rotate(-180deg);
}
.navbar__header .menu-item-has-children:hover > .megamenu {
  pointer-events: all;
  opacity: 1;
}
.navbar__header .megamenu {
  position: absolute;
  z-index: 10;
  top: 70px;
  left: 0;
  pointer-events: none;
  opacity: 0;
  width: 100%;
  padding: 50px 0 128px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  background: #f2f2f2;
  transition: all 0.2s ease;
}
.navbar__header .megamenu ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
}
.navbar__header .megamenu-content {
  display: flex;
  width: 100%;
  max-width: 1864px;
  margin: 0 auto;
  padding: 0 32px;
  gap: 32px;
}
.navbar__header .megamenu-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.navbar__header .megamenu-left img {
  border-radius: 24px;
}
.navbar__header .megamenu-left a {
  display: flex;
  align-items: center;
  line-height: 0;
  font-weight: 700;
  color: var(--clr-primary);
  transition: all .3s ease-in-out;
}
.navbar__header .megamenu-left a:hover {
  text-decoration: underline;
  color: var(--clr-primary-hover);
}
.navbar__header .megamenu-left a::after {
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13' fill='none'><path d='M1 12L7 6.5L1 1' stroke='%231A539E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  margin-left: 12px;
  transition: all .3s ease-in-out;
} 
.navbar__header .megamenu-left a:hover::after {
  transform: translateX(8px);
}
.navbar__mobile,
.navbar__header .menu-mobile {
  display: none;
}
@media (max-width: 1024px) {
  body.active {
    overflow: hidden !important;
  }
  .navbar__header > .container-custom {
    display: none;
  }
  .navbar__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px 0;
  }
  .navbar__mobile .mobile {
    display: flex;
  }
  .navbar__header .menu-mobile {
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    transition: all 0.1s ease-in-out;
  }
  .navbar__header .menu-mobile.active {
    pointer-events: all;
    opacity: 1;
  }
  .navbar__header .wrapper-mobile {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 360px;
    height: 100%;
    gap: 32px;
    padding: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: #f4f4f4;
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
  }
  .navbar__header .wrapper-mobile.active {
    transform: translateX(0);
  }
  .navbar__header .wrapper-mobile .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
  }
}
/* SWIPER */
.swiper-button-wrapper {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 16px;
  padding: 16px 0 0 16px;
  border-radius: 16px 0 0;
  background: #f2f2f2;
}
.swiper-button-wrapper:before,
.swiper-button-wrapper:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 1;
  background-image: url('../imgs/corner-f4.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.swiper-button-wrapper:before {
  bottom: 0;
  left: -24px;
  transform: scale(1, -1);
}
.swiper-button-wrapper:after {
  top: -24px;
  right: 0;
  transform: scale(1, -1);
}
.swiper-button-next,
.swiper-button-prev {
  position: unset;
  width: 40px;
  height: 40px;
  margin: 0;
  border-radius: 50%;
  background: #D9D9D9;
  color: #000;
  transition: all .3s ease-in-out;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #1E1E1E;
  color: #fff;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 16px;
  font-weight: 700;
}
/* FOOTER */
footer {
  background: #fff;
}
footer .links {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 64px 0;
}
footer .links .showroom,
footer .links .contato,
footer .links .redes {
  max-width: calc(20% - 32px);
  width: 100%;
}
footer .links .redes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .links .redes a {
  display: flex;
  align-items: center;
  width: fit-content;
  text-decoration: none;
}
footer .links .redes a > img {
  max-width: 134px;
  width: 100%;
}
footer .links .redes .redes__wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer .links .redes .redes__wrapper img {
  transition: all .3s ease-in-out;
}
footer .links .redes .redes__wrapper img:hover {
  transform: scale(1.1);
}
footer .links .menu__wrapper {
  width: calc(40% - 32px);
}
footer .links .menu__wrapper .menu-item-has-children {
  width: calc(50% - 16px);
}
footer .header-menu {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
footer .header-menu ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .header-menu li {
  display: flex;
  flex-direction: column;
  list-style: none;
}
footer .header-menu > .menu-item > a {
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: 700;
}
footer .header-menu .menu-item a {
  display: flex;
  text-decoration: none;
}
footer .showroom .title,
footer .contato .title {
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: 700;
}
footer .showroom .item,
footer .contato .item {
  display: flex;
  gap: 8px;
}
footer .contato .item:nth-of-type(1) {
  margin-bottom: 8px;
}
footer .showroom .item .text,
footer .contato .item .text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .showroom .item .text {
  max-width: 220px;
}
footer .showroom .item .text a,
footer .contato .item .text a {
  line-height: 1.5;
  text-decoration: none;
}
@media (max-width: 1023px) {
  footer .links {
    flex-direction: column;
    padding: 50px 16px;
  }
  footer .links .showroom,
  footer .links .contato,
  footer .links .redes {
    max-width: 100%;
    width: 100%;
  }
  footer .links .redes {
    order: 4;
  }
  footer .links .redes a {
    margin: 0 auto;
  }
  footer .links .redes .redes__wrapper {
    justify-content: center;
  }
  footer .links .redes .redes__wrapper a {
    margin: 0;
  }
  footer .header-menu {
    flex-direction: column;
  }
  footer .links .menu__wrapper {
    width: 100%;
  }
  footer .links .menu__wrapper .menu-item-has-children {
    width: 100%;
  }
}
/* COPYRIGHT */
footer .copyright {
  padding: 32px;
  background: #189CD9;
}
footer .copyright .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
}
footer .copyright .copy {
  display: flex;
  font-size: 16px;
  color: #fff;
}
footer .copyright .copy-delucca img {
  transform-origin: right bottom;
  transition: all .3s ease-in-out;
}
footer .copyright .copy-delucca:hover img {
  transform: scale(1.1);
}
@media (max-width: 1023px) {
  footer .copyright .wrapper {
    flex-direction: column;
    gap: 32px;
    text-align: center;
  }
}